.navbar {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
}

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.navbar-link:global(.active) {
  color: #496b6e;
}
